<div class="main">
<div class="result_search">
  <div><%= current_user.nickname %>さんのお気に入り</div>
    <ul>
      <% @favorites.each do |restaurant| %>
         <%= render partial: "restaurants/restaurants", locals: { restaurant: restaurant } %>
      <% end %>
    </ul>
  </div>

  <%= link_to "戻る", "javascript:history.back();", class:"link_to_root"%>
</div>
