<div class="main">
  <div class="top_itr">
    <div class="top_content_itr">
      当サイトでは、外国料理を提供する飲食店を検索することができます<br>
    </div>
    <div class="top_image_itr">
      <%= image_tag "trip_women.png", class: "trip_women" %>
    </div>
  </div>

  <h4 class="label">できること</h4>

  <div class="how_to_use">
    <ul>
      <li>
        <div class="how_to">国や地域名で検索</div>
        <div class="explain_itr">トップページの検索バーに、訪れたい国や地域の名前を入力します。</div>
      </li>
      <li>
        <div class="how_to"> 絞り込み検索</div>
        <div class="explain_itr">国や地域名入力後、料理のジャンルや利用シーンなどで絞り込んで検索ができます。</div>
      </li>
      <li>
        <div class="how_to">お気に入りに追加</div>
        <div class="explain_itr">気に入った飲食店をお気に入りリストに追加できます。(お気に入り追加にはユーザー登録が必要です)<br>マイページからいつでもお気に入りリストを確認可能です。</div>
      </li>
      <li>
        <div class="how_to">新規飲食店の登録</div>
        <div class="explain_itr">新たな飲食店の情報を申請できます。(申請にはユーザー登録が必要です)<br>登録したい飲食店の情報を入力して申請すると、管理者が内容を確認し、承認され次第、検索結果に表示されるようになります。</div>
      </li>
    </ul>
  </div>

  <h4 class="label">　</h4>

  <div class="top_itr">
    <div class="top_image_itr">
      <%= image_tag "eating.png", class: "trip_women" %>
    </div>
    <div class="top_content_itr">
      食事を通して海外旅行気分を味わいたい！　　→　　<%= link_to "検索してみる", root_path, class:"link_to_root"%>
    </div>
  </div>
</div>