/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* ヘッダー */
 header{
  height: 80px;
  width: 100vw;
  background-color: #fff3cd;
 }

.link_to_new{
  padding: 20px 50px;
  display: flex;
  justify-content: flex-end;
}

.sinnkitouroku{
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: brown;
}

.top_btn{
  margin: 0 5px;
}


/* フッター */
 footer{
  height: 40px;
  width: 100vw;
  background-color: #fff3cd;
 }

/* トップページ */

 body {
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  background-color: #fff8e1; /* 明るい黄色 */
  color: #333;
}

.main{
  background-color: #fff3cd; /* 薄い黄色 */
  padding: 20px;
  border-radius: 10px;
  margin: 30px 100px;
}

.country_field{
  height: 100px;
  width: 60%;
  margin: 0 auto;
  
}

.label {
  font-weight: bold;
}

.search-field{
  height: 50px;
  width: 100%;
}

.field{
  width: 60%;
  margin: 0 auto;
  padding: 15px 0;
  border-top: solid 1px brown;
}

.checkbox_genres{
  display: inline-block;
}

.item{
  margin-top: 10px;
}

.checkbox_situations{
  display: inline-block;
  font-size: small;
}

.situation_item{
  font-size: 15px;
  font-weight: 600;
}

.situation-checkbox-label{
  font-size: small;
}

.actions {
  text-align: center;
  width: 60%;
  border-top: solid 1px brown;
  margin: 0 auto;
  padding-top: 15px;
}


.submit_btn{
  background-color: #ff5722; /* 鮮やかなオレンジ */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result_search{
  background-color: #fff3cd; /* 薄い黄色 */
  padding: 20px;
  border-radius: 10px;
  margin: 30px 100px;
}


/* 新規店舗登録ページ */

.heading{
  text-align: center;
}

.form_new{
  margin: 30px auto;
  width: 50%;
}

.search_new{
  width: 100%;
  margin-bottom: 20px;
}

.field_new{
  height: 30px;
  width: 100%;
}

.search_new2{
  border-radius: 10px;
  background-color: lightyellow;
  padding: 15px;
}

.region_new{
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}

.checkbox_new{
  display: inline-block;
  margin-right: 10px;
}

.action_new{
  text-align: center;
  padding-top: 15px;
}

/* 店舗詳細ページ */

.restaurant{
  width: 70%;
  margin: 20px auto;
}

.description{
  background-color: white;
  border-radius: 5px;
  height: 100px;
  width: 90%;
  margin: 10px auto;
  padding: 15px;
}

.info{
  width: 90%;
  margin: 0 auto;
}


.country_name{
  background-color: wheat;
  color: brown;
  padding: 5px 10px;
  border-radius: 15px;
}