/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box; /* パディングやボーダーを含めた幅を計算 */
}

/* ヘッダー */
header {
  height: 80px;
  width: 100vw;
  background-color: #fff3cd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px; 
  
}


.taste_trip{
  font-size: 30px;
  color: brown;
  text-decoration: none;
  font-family: "Itim", serif;
}

.top_btns {
  display: flex;
  gap: 10px;
  font-size: 13px;
}

.head_btn {
  text-decoration: none;
  color: brown;
  font-size: 15px;
  font-family: "Kosugi Maru", sans-serif;
}

.top_btn {
  margin: 0 5px;
}


/* フッター */
 footer{
  height: 40px;
  width: 100vw;
  background-color: #fff3cd;
 }

/* トップページ */

.content {
  min-height: calc(100vh - 120px);
  width: 100vw;
  background-color: #fcfceb; 
  padding: 40px 0 ;
}

.main{
  width: 80%;
  height: 100%;
  background-color: beige; 
  padding: 20px;
  border-radius: 10px;
  margin:  0 auto;
}

.hero{
  position: relative;
  width: 100%;
  height: 100%;
}

.world_map{
  width: 100%;
  height: 100%;
  opacity: 30%
}

.hero_search{
  width: 70%;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 20%;
}

.country_field_with_button{
  width: 100%;
}

.input_and_button{
  display: flex;
  align-items: center; /* 入力フィールドとボタンの垂直位置を中央揃え */
  gap: 10px; /* フィールドとボタンの間に余白 */
}

.label_top{
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  padding: 10px;
  background-color: wheat;
  color: brown;
  border-radius: 20px;
  font-family: "Kosugi Maru", sans-serif;
}

.search-field{
  height: 50px;
  width: 80%;
}

.field{
  width: 60%;
  margin: 0 auto;
  padding: 15px 0;
}

.checkbox_genres{
  display: inline-block;
}

.item{
  margin-top: 10px;
}

.checkbox_situations{
  display: inline-block;
  font-size: small;
}

.situation_item{
  font-size: 15px;
  font-weight: 600;
}

.situation-checkbox-label{
  font-size: small;
}


.submit_btn{
  background-color: wheat;
  color: brown;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Kosugi Maru", sans-serif;
}

.result_search{
  padding: 20px;
  border-radius: 10px;
  margin: 0px 30px;
}

.result_search ul{
  list-style-type: none;
}

.result_search li{
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.restaurant_name_top{
  margin-bottom: 15px;
}

.restaurant_name{
  font-size: 20px;
  font-weight: bold;
  color: darkgreen;
  text-decoration: none;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3列のグリッドを作成 */
  gap: 10px; /* 画像間のスペース */
}

.gallery-image {
  width: 100%; /* 画像をコンテナに合わせる */
  height: 100%; /* 高さを自動調整 */
  object-fit: cover; /* 画像の比率を保持しつつ、指定したサイズに収める */
}


.info_index{
  color: dimgray;
  margin-bottom: 10px;
}

.info_item{
  font-weight: bold;
}

.actions {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 15px;
}

/* 新規店舗登録ページ */

.heading{
  text-align: center;
}

.error_explanation{
  width: 100%;
}

.error_explanation ul {
  list-style-type: none;
  text-align: center;
}

.error_explanation li {
  color: red;
}

.form_new{
  margin: 30px auto;
  width: 50%;
}

.search_new{
  width: 100%;
  margin-bottom: 20px;
}

.field_new{
  height: 30px;
  width: 100%;
  margin-top: 10px;
}

.search_new2{
  border-radius: 10px;
  padding: 15px;
}

.region_new{
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}

.checkbox_new{
  display: inline-block;
  margin-right: 10px;
}

.checkboxs{
  margin-top: 10px;
}

.action_new{
  text-align: center;
  padding-top: 15px;
}

.link_to_root{
  font-weight: bold;
  padding: 10px 15px;
  background-color: wheat;
  color: brown;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Kosugi Maru", sans-serif;
}

/* 店舗詳細ページ */

.restaurant{
  width: 80%;
  margin: 20px auto;
}

.description{
  background-color: white;
  border-radius: 5px;
  height: 100px;
  width: 90%;
  margin: 10px auto;
  padding: 15px;
}

.info{
  width: 90%;
  margin: 0 auto;
}


.features{
  background-color: darkgreen;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
}

button.favorite-btn {
  padding: 5px 10px;
  font-size: 10px;
  font-weight: bold;
  color: white;
  background-color: green;
  border: none;
  border-radius: 15px;
}


/* ログイン・サインアップページ */

.date_select select {
  width: 30%; 
  height: 30px;
}

.gender_select select{
  height: 30px;
  width: 30%;
}
